@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  font-family: "Raleway", sans-serif;
}



#quote-box {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 42vw;
  padding: 2%;
  border-radius: 1%;

}

#quote-text,
#author,
.buttons {
  align-self: stretch;
  text-align: center;
  margin-bottom: 3%;

}


@media (max-width: 900px) {
  #quote-box {
  width: 80vw;
  }; 

  #quote-text,
  #author,
  .buttons { 
  margin-bottom: 3%;

  }
}
